@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;300;400&family=Roboto:wght@300;400&display=swap');

* {
    text-decoration: none;
    margin: 0rem;
    padding: 0rem;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    min-height: 100%;
    min-width: 100%;
}

header {
    background-color: rgb(83, 123, 255);
    padding: 2rem;
}

.flex {
    display: flex;
}

.left {
    flex: 1;
    order: 1;
}

.center {
    flex: 2;
    order: 2;
}

.right {
    flex: 1;
    order: 3;
}

.title {
    font-family: "Roboto Mono", monospace;
    font-size: 4rem;
    font-weight: 300;
    text-align: center;
    color: white;
    text-shadow: 0px 0px 0.5rem rgba(0, 0, 0, 0.2);
}

.nav-link {
    font-family: "Roboto Mono", monospace;
    font-size: 2rem;
    color: white;
    text-shadow: 0px 0px 0.5rem rgba(0, 0, 0, 0.2);
    text-align: center;
}

.center-children {
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro-text {
    font-family: 'Roboto';
    font-size: 2rem;
}