@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;300;400&family=Roboto:wght@300;400&display=swap');

/* default values making developent easier */
* {
    text-decoration: none;
    margin: 0rem;
    padding: 0rem;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

/* sets background colour */
body {
    /* min-height: 100%;
    min-width: 100%; */
    background-color: #1c1e26;
}

header {
    background-color: #181920;
    padding: 2rem;
    box-shadow: 0px 0px 1rem #0000009c;
}

.flex {
    display: flex;
}

.left {
    flex: 1;
    order: 1;
}

.center {
    flex: 2;
    order: 2;
}

.right {
    flex: 1;
    order: 3;
}

/* styling for the title */
.title {
    font-family: "Roboto Mono", monospace;
    font-size: 4rem;
    font-weight: 300;
    text-align: center;
    color: #bbbbbb;
    text-shadow: 0px 0px 0.5rem rgba(0, 0, 0, 0.2);
}

.nav-link {
    font-family: "Roboto Mono", monospace;
    font-size: 2rem;
    color: #bbbbbb;
    text-shadow: 0px 0px 0.5rem rgba(0, 0, 0, 0.2);
    text-align: center;
}

/* center items inside these classes */
.center-children {
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro-text {
    font-family: 'Roboto Mono', monospace;
    font-size: 1rem;
    text-align: center;
    margin: 1rem;
    width: 100%;
    color: #BBBBBB;
}

.full-screen {
    height: 80vh;
}

.show-overflow {
    overflow: visible;
}

.inline-link {
    color: aqua;
    text-decoration: underline;
}

/* styling for subtitles, font size, family etc */
.subtitle {
    font-size: 3rem;
    font-family: 'Roboto';
    text-align: center;
    color: #BBBBBB;
    font-weight: 300;
    margin: 2rem
}

.red {
    color: red;
}

.sign-up {
    font-family: "Roboto Mono";
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    min-width: 100px;
    margin: 2rem;
    color: #BBBBBB;
    overflow: visible;
}

.sign-up h2 {
    font-family: "Roboto";
    font-weight: 300;
    text-align: center;
}

/* container for flex */
.flex-container {
    display: flex;
}

/* puts flex items in a column */
.column {
    flex-direction: column;
}

/* input formatting */
input, textarea {
    outline: none;
    font-size: 1rem;
    font-family: 'Roboto Mono';
    border: 2px solid #1c1e26;
    padding: 0.3rem;
    transition: 0.5s ease-out;
    background-color: rgb(20, 21, 28);
    color: #BBBBBB;
    border-radius: 0.5rem;
}

textarea {
    min-width: 50%;
    min-height: 40%;
}

input:focus, textarea:focus {
    border: 2px solid #ff5656;
}

hr {
    border: 1px solid #181920;
    margin: 3rem;
}

.sign-up-container {
    margin: 1rem;
}

.confirmation-message {
    font-size: 2rem;
    font-family: "Roboto Mono";
    font-weight: 300;
    text-align: center;
    color: #BBBBBB;
}

/* formatting for the countdown at the bottom of each page */
.countdown {
    font-size: 1rem;
    font-family: "Roboto Mono", monospace;
    text-align: center;
    padding: 1rem;
    color: #BBBBBB;

    position: absolute;
    left: 50%;
    top: 95%;
    transform: translate(-50%, -30%);
    margin: 0 auto;
}

.products-header {
    width: 100%;
    margin-top: 5rem;
    margin: 2rem;
}

#sort-by {
    float: right;
    outline: none;
    font-size: 1rem;
    font-family: 'Roboto Mono';
    border: 2px solid #1c1e26;
    padding: 0.3rem;
    transition: 0.5s ease-out;
    background-color: rgb(20, 21, 28);
    color: #BBBBBB;
    border-radius: 0.5rem;
}

#sort-by:focus {
    border: 2px solid #ff5656;
}

/* container for products */
.products {
    order: 2;
    flex: 4;

    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-flow: wrap;
    align-items: flex-start;

    padding: 1rem;
}

/* each card will be a product */
.card {
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
    padding: 0.75rem;
    border-radius: 0.7rem;
    background-color: var(--bg-color-two);
    max-width: 25%;
    margin: 2rem;
}

.card ul {
    margin: 1rem;
    font-family: "Roboto Mono", monospace;
    color: var(--white-text-color);
}

.card li {
    margin: 0.5rem;
}

.card img {
    border-radius: 0.7rem;
    width: 100%;

    box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.6);
    border: 1px solid rgba(255, 255, 255, 0.2);
}